<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles.css">
    <title>Ahorcado | Juego</title>
</head>
<body>
    <main>
        <div>
            <p>Errores</p>
            <span></span>
        </div>
        <div>
            <img src="" alt="">
        </div>
        <p>Presiona la letra que crees que esta en la palabra.</p>
        <div>
            <canvas width="500px" height="500px"></canvas>
            <div>
                <input type="text">
                <input type="text">
                <input type="text">
                <input type="text">
                <input type="text">
            </div>
        </div>

        <!-- Modales -->
        <div>
            <h2>¡FELICIDADES, HAS GANADO!</h2>
            <div>
                <button>Volver a jugar</button>
                <button>Salir</button>
            </div>
        </div>

        <div>
            <h2>¡HAZ PERDIDO!</h2>
            <p>La palabra correcta: palabra</p>
            <div>
                <button>Volver a jugar</button>
                <button>Salir</button>
            </div>
        </div>

        <div>
            <h2>Advertencia</h2>
            <ul>
                <li>No se admiten mayusculas</li>
                <li>Letras sin acentos o caracteres extraños</li>
                <li>No son validos números</li>
                <li>Cuenta con 12 intentos</li>
            </ul>
            <button>Entendido</button>
        </div>
    </main>
</body>
</html>